.display {
    height: 6rem;
    text-align: right;
    padding-right: 2rem;
}

.display-top {
    height: 2.5em;
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.display-bottom {
    font-size: 3em;
    margin-top: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}